
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Agent Safeguarding Service
        <span class="govuk-caption-xl"></span>
      </h1>


      <h2 class="govuk-heading-m">Latest version: 21-04-21</h2>

      <ul class="govuk-list govuk-list--bullet">


          <li>
            <a href="GDS/whitney/04who.html">Whitney: Report an incident</a>
          </li>
            <img src="/public/images/whitney.png" alt="Ready for decision">
            <hr>
          <li>
            <a href="GDS/sartaq/00list.html">Sartaq: Add Witness report</a>
          </li>
          <img src="/public/images/sartaq.png" alt="Ready for decision">
          <hr>
          <li>
            <a href="GDS/sarah/00list">Sarah: Give recommendations</a>
          </li>
          <img src="/public/images/sarah.png" alt="Ready for decision">
          <hr>
          <li>
            <a href="GDS/sadiq/00list.html">Sadiq: Make a decision</a>
          </li>
          <img src="/public/images/sadiq.png" alt="Ready for decision">
          <hr>
            <li>
              <a href="GDS/britney/00list.html">Britney: Send a warning letter</a>
            </li>
            <img src="/public/images/britney.png" alt="Ready for decision">
            <hr>
            <li>
              <a href="GDS/amira/04who.html">Amira: prepare for interaction</a>
            </li>
            <img src="/public/images/amira.png" alt="Ready for decision">
            <hr>
            <li>
              <a href="GDS/whitney/04who.html">Ted: agent safety concern</a>
            </li>
            <img src="/public/images/ted.png" alt="Ready for decision">

      </ul>
    </div>
  </div>

{% endblock %}
